Flow-Node-Red.json
[{"id":"c4aa63244f18d3cb","type":"tab","label":"Fluxo 3","disabled":false,"info":"","env":[]},{"id":"mqtt_vib","type":"mqtt in","z":"c4aa63244f18d3cb","name":"MQTT Vibração","topic":"safequake/vibracao","qos":"0","datatype":"auto","broker":"mqtt_broker","inputs":0,"x":220,"y":200,"wires":[["json_vib","e986614d80542469"]]},{"id":"mqtt_env","type":"mqtt in","z":"c4aa63244f18d3cb","name":"MQTT Ambiente","topic":"safequake/ambiente","qos":"0","datatype":"auto","broker":"mqtt_broker","inputs":0,"x":220,"y":260,"wires":[["json_env","e5fbccc16e4bf063"]]},{"id":"json_vib","type":"json","z":"c4aa63244f18d3cb","name":"Parse JSON Vib","property":"payload","action":"obj","x":440,"y":200,"wires":[["func_combine"]]},{"id":"json_env","type":"json","z":"c4aa63244f18d3cb","name":"Parse JSON Ambiente","property":"payload","action":"obj","x":460,"y":260,"wires":[["func_combine"]]},{"id":"func_combine","type":"function","z":"c4aa63244f18d3cb","name":"Combinar dados para tabela","func":"// Inicializa o contexto local se ainda não existir\ncontext.data = context.data || { vib: null, env: null };\ncontext.historico = context.historico || []; // Aqui armazenamos os dados da tabela\n\nif (msg.payload.sensor === \"vibracao\") {\n    context.data.vib = msg.payload;\n} else if (msg.payload.sensor === \"ambiente\") {\n    context.data.env = msg.payload;\n}\n\n// Quando tiver os dois dados, cria uma nova entrada no histórico\nif (context.data.vib && context.data.env) {\n    const ts = new Date(parseInt(context.data.env.timestamp)).toLocaleTimeString();\n\n    const novaEntrada = [\n        {\n            sensor: \"Vibração\",\n            valor: context.data.vib.valor.toFixed(2),\n            timestamp: ts\n        },\n        {\n            sensor: \"Temperatura\",\n            valor: context.data.env.temperatura.toFixed(1) + \" °C\",\n            timestamp: ts\n        },\n        {\n            sensor: \"Umidade\",\n            valor: context.data.env.umidade.toFixed(1) + \" %\",\n            timestamp: ts\n        },\n    ];\n\n    // Adiciona ao histórico (concatena 4 linhas de uma vez)\n    context.historico = context.historico.concat(novaEntrada);\n\n    // Limpa os dados temporários\n    context.data.vib = null;\n    context.data.env = null;\n\n    return { payload: context.historico };\n}\n\nreturn null;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":220,"wires":[["ui_table"]]},{"id":"ui_table","type":"ui_table","z":"c4aa63244f18d3cb","group":"dashboard_group","name":"Tabela Sensores","order":1,"width":"8","height":"8","columns":[{"field":"sensor","title":"Sensor","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"valor","title":"Valor","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"timestamp","title":"Hora","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1030,"y":220,"wires":[]},{"id":"e986614d80542469","type":"debug","z":"c4aa63244f18d3cb","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":160,"wires":[]},{"id":"e5fbccc16e4bf063","type":"debug","z":"c4aa63244f18d3cb","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":300,"wires":[]},{"id":"8e545f4aeb870413","type":"inject","z":"c4aa63244f18d3cb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":810,"y":260,"wires":[["ui_table"]]},{"id":"mqtt_broker","type":"mqtt-broker","name":"Mosquitto Broker","broker":"192.168.0.151","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dashboard_group","type":"ui_group","name":"Sensores","tab":"dashboard_tab","order":1,"disp":true,"width":"8","collapse":false,"className":""},{"id":"dashboard_tab","type":"ui_tab","name":"Dashboard SafeQuake","icon":"dashboard","order":1,"disabled":false,"hidden":false}]